.log-button {
  color: red;
  background-color: white;
  border: 2px solid red;
  border-radius: 5px;
}

.log-button:hover {
  background-color: red;
  color: white;
}

.login-button {
  color: green;
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
}

.login-button:hover {
  color: white;
  background-color: green;
}

.switch-button {
  color: gold;
  background-color: white;
  border: 2px solid gold;
  border-radius: 5px;
}

.switch-button:hover {
  background-color: gold;
  color: white;
}

.upload-button {
  background-color: white;
  color: blue;
  border: 2px solid blue;
  border-radius: 5px;
}

.upload-button:hover {
  background-color: blue;
  color: white;
}

.favourite-button {
  background-color: gold;
  font-weight: 400;
}

.unfavourite-button {
  background-color: pink;
  font-weight: 400;
}

