@import './variables.scss';

.log-button {
  color: $dark-red;
  background-color: white;
  border: 2px solid $dark-red;
  border-radius: 5px;
}

.log-button:hover {
  background-color: $dark-red;
  color: white;
}

.login-button {
  color: $dark-green;
  background-color: white;
  border: 2px solid $dark-green;
  border-radius: 5px;
}

.login-button:hover {
  color: white;
  background-color: $dark-green;
}



.switch-button {
  color: $gold;
  background-color: white;
  border: 2px solid $gold;
  border-radius: 5px;
}

.switch-button:hover {
  background-color: $gold;
  color: white;
}

.upload-button {
  background-color: white;
  color: $dark-blue;
  border: 2px solid $dark-blue;
  border-radius: 5px;
}

.upload-button:hover {
  background-color: $dark-blue;
  color: white;
};

.unfavourite-button {
  background-color: pink;
  font-weight: 400;
}

.up-control-wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 769px) {
  .up-control-wrap {
    flex-direction: row;
    justify-content: center;
  }
}
