.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.info-wrap {
  display: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}


@media screen and (min-width: 480px) {
  .info-wrap {
    display: block;
  }
}