.control-wrapper {
  margin: auto;
};

.display-image {
  max-width: 100%;
  height: auto;
};

.image-list {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
};

.image-wrapper {
  width: 80%;
  display: inline-block;
  margin-top: 2rem;
};

.fav-img-wrap {
  display: flex;
  flex-direction: column;
  border: 10px solid gold;
  border-radius: 5px;
  margin: auto;
  width: 80%;
};


.button-wrapper {
  display: flex;
  flex-direction: column;
};

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
};


@media screen and (min-width: 480px) {
};

@media screen and (min-width: 769px) {
  .control-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 5px;
  };
  .image-list {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    max-width: 90vw;
    margin: auto;
  };

  .image-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0;
    justify-self: center;
  };

  .fav-img-wrap {
    display: flex;
    flex-direction: column;
    border: 10px solid gold;
    margin: 0;
    justify-self: center;
  };
};
