.control-wrapper {
  width: 40%;
  margin: auto;
}
.display-image {
  max-width: 100px;
  max-height: 100px;
}

.fave-image {
  border: 2px solid gold;
  max-width: 100px;
  max-height: 100px;
}

.image-list {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: auto;
  width: 80%;
}


.button-wrapper {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 480px) {
}

@media screen and (min-width: 769px) {
  .control-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 5px;
  }
  .image-list {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    max-width: 90vw;
    margin: auto;
    height: 90vh;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0;
  }
}
