.form-wrapper {
  margin: auto;
};

#log-in-form {
  margin-bottom: 10px;
};

#sign-up-form {
  margin-bottom: 10px;
};

.input-wrapper {
  margin-bottom: 10px;
};

.error-message {
  color: red;
  background-color: pink;
  border-radius: 5px;
};

@media screen and (min-width: 576px ) {

  #log-in-form {
    margin-bottom: 5px;
  }
  
  #sign-up-form {
    margin-bottom: 5px;
  }
  
  .input-wrapper {
    margin-bottom: 5px;
  }

}

