.form-wrapper {
  max-width: 80vw;
  margin: auto;
}

#log-in-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-bottom: 5px;
}

#sign-up-form {
  margin-bottom: 5px;
}
.input-wrapper {
  margin-bottom: 5px;
}

